
<div class="container">
    <h1>Contacto</h1>
    <div>
        <p>Pagina de contacto puedes enviar cualquier duda</p>

    </div>
    <!--tamaño del slider
    <input type="number" [(ngModel)]="widhSlider" (keyup.enter)="cargarSlider()"/>
    <button (click)="cargarSlider()">Cargar slider</button><br>
    <button (click)="resetearSlider()">resetear slider</button><br>
    
    <div *ngIf="anchuraToSlider">
        tamaño del slider : <strong>{{widhSlider}}</strong>
        <slider [anchura]="anchuraToSlider"
                [etiquetas]="captions"
        ></slider>

    </div>-->

</div>