<div id="title">
    <h1>{{title}}</h1>
    <h2>{{subtitle}}</h2>
    <p>{{email}}</p>
</div>

<article class="about">
    <h2>Sobre mi</h2>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas mollis, enim id bibendum eleifend, 
        velit lectus maximus est, et tempus nulla nibh quis urna. 
        Mauris eu est ut dui fermentum suscipit. Pellentesque laoreet augue et urna tempus, ut consequat velit hendrerit. A
        enean ligula est, ultricies non consectetur quis, varius sed risus. 
        Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Proin id orci erat.
         Praesent fringilla orci turpis, et tempus sapien facilisis nec. 
         Praesent gravida risus libero. Sed fringilla lorem magna, ut placerat nisi pharetra sed. Vivamus non dolor non velit consequat ornare. 
         Fusce vitae lectus felis. Nam sodales, augue at ultricies tristique,
         lacus urna volutpat libero, sit amet ullamcorper mi est quis risus. Ut in blandit ipsum, at euismod elit. 
    </p>

</article>